<div class="m50px">
  <div class="displayFlex AlignItemCenter spaceBetween stretch mb20px">
    <div class="grayBox w48per p50">
      <div class="profileIcon">
        <img src="../../../assets/profile_photo.jpg" />
      </div>
      <div class="displayFlex AlignItemCenter justifycontencenter pb5px">
        <div>Arun</div>

        <div class="userEdit"></div>
      </div>
      <div class="textAlignCenter pb5px">hunterfairway@guess.com</div>
      <div class="textAlignCenter">+ 1(999) 999-9999</div>
      <div class="bordertop2px mtb10"></div>
      <div
        class="AlignItemCenter displayFlex justifycontencenter greenColor pb20"
      >
        BASIC INFO
      </div>

      <div class="displayFlex AlignItemCenter spaceBetween">
        <div>Sigora Account:</div>
        <div>P23141201</div>
      </div>
      <div class="displayFlex AlignItemCenter spaceBetween">
        <div>Birthday:</div>
        <div>30.01.1976</div>
      </div>
      <div class="displayFlex AlignItemCenter spaceBetween">
        <div>Email:</div>
        <div>jgfjtjf@si.com</div>
      </div>
      <div class="displayFlex AlignItemCenter spaceBetween">
        <div>Address:</div>
        <div>7001 Fairway St, Quinton, VA23141, USA</div>
      </div>
      <div class="displayFlex AlignItemCenter spaceBetween">
        <div>SSN:</div>
        <div>123456789</div>
      </div>
      <div class="displayFlex AlignItemCenter spaceBetween">
        <div>Annual Income:</div>
        <div>$123 000</div>
      </div>
    </div>
    <div class="grayBox w48per p50">
      <div class="fs20px fontWeight pb20">Statistics</div>
      <div class="bbottom displayFlex AlignItemCenter spaceBetween ptop50px">
        <div class="bright w48per textAlignCenter">
          <div class="pb20">Panels Installed</div>
          <div class="pb20 fs20px fontWeight">23</div>
        </div>
        <div class="bright w48per textAlignCenter" style="border-right: 0px">
          <div class="pb20">Loans Done</div>
          <div class="pb20 fs20px fontWeight">5</div>
        </div>
      </div>
      <div class="bright textAlignCenter ptop50px" style="border-right: 0px">
        <div class="pb20">Apllications Completed</div>
        <div class="pb20 fs20px fontWeight">34</div>
      </div>
    </div>
  </div>

  <div class="displayFlex AlignItemCenter spaceBetween stretch mb20px">
    <div
      class="grayBox w30per p50 justifycontencenter cursorpointer"
      (click)="go()"
    >
      <div class="AlignItemCenter displayFlex flexDirection">
        <div class="setting_icon"></div>
        <div class="ptop15">Seetings</div>
      </div>
    </div>
    <div class="grayBox w30per p50 justifycontencenter">
      <div class="AlignItemCenter displayFlex flexDirection">
        <div class="Equipment_Settings"></div>
        <div class="ptop15">Equipment Settings</div>
      </div>
    </div>
    <div class="grayBox w30per p50 justifycontencenter">
      <div class="AlignItemCenter displayFlex flexDirection">
        <div class="UserManagment"></div>
        <div class="ptop15">User Managment</div>
      </div>
    </div>
  </div>
</div>
