<section class="content-header">
  <!-- <h1>View Application Details</h1> -->
  <ol class="breadcrumb">
    <li class="current">
      <a [routerLink]="['/admin/dashboard']"
        ><img src="../../assets/new/dashboard.svg"> Dashboard <i class="fal fa-angle-right"></i></a
      >
    </li>
    <li class="current">
      <a [routerLink]="['/admin/pendings']"
        ><i class="fa fa-dashboard"></i> Pending Application Details</a
      >
    </li>
    <li class="active">View Application Details</li>
  </ol>
</section>

<div class="content_part">
  <div class="mainTitle">
    <div>View Application Details</div>
    <div>
      <button
        type="button"
        class="btn btn-success btn-user-control"
        (click)="Approve()"
      >
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-danger btn-user-control"
        (click)="Deny()"
      >
        <i class="fa fa-thumbs-down" aria-hidden="true"></i> Deny
      </button>
    </div>
  </div>
  <div class="p10">
    <div class="pendingTab" *ngIf="viewApp">
      <tabset>
        <tab
          heading="User Information"
          *ngIf="data.from_details.length > 0 && tabs['User Information']"
        >
          <div class="p10px">
            <div
              class="displayFlex AlignItemCenter spaceBetween p10px frameshadow"
            >
              <div
                class="fs22px displayFlex AlignItemCenter spaceBetween flexDirection mr30px"
              >
                <div class="profilePhoto">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="nowrap">
                  {{ data.from_details[0]["firstName"] }}
                  {{ data.from_details[0]["lastName"] }}
                </div>
              </div>
            </div>
            <div>
              <form
                autocomplete="on"
                [formGroup]="apForm"
                (ngSubmit)="sendForm()"
              >
                <div
                  class="row"
                  style="justify-content:left;padding-top: 15px;"
                >
                  <div class="col-xs-12 col-sm-2 float-label">
                    <label>Loan Amount</label>
                    <input
                      class="form-control form-application"
                      id="loanAmount"
                      formControlName="LoanAmount"
                      [ngClass]="{
                        'is-invalid':
                          apForm.controls.LoanAmount.errors &&
                          (apForm.controls.LoanAmount.dirty ||
                            apForm.controls.LoanAmount.touched ||
                            apibtn)
                      }"
                      (input)="findPaymentAmountWithOrigination()"
                    />
                    <div
                      *ngIf="
                        apForm.controls.LoanAmount.errors &&
                        (apForm.controls.LoanAmount.dirty ||
                          apForm.controls.LoanAmount.touched ||
                          apibtn)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="apForm.controls.LoanAmount.errors.required">
                        Loan Amount is required
                      </div>
                      <div *ngIf="apForm.controls.LoanAmount.errors.pattern">
                        This is not Vaild number
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 float-label">
                    <label>Interest Rate</label>
                    <input
                      class="form-control form-application"
                      id="apr"
                      formControlName="APR"
                      [ngClass]="{
                        'is-invalid':
                          apForm.controls.APR.errors &&
                          (apForm.controls.APR.dirty ||
                            apForm.controls.APR.touched ||
                            apibtn)
                      }"
                      (input)="findPaymentAmountWithOrigination()"
                    />
                    <div
                      *ngIf="
                        apForm.controls.APR.errors &&
                        (apForm.controls.APR.dirty ||
                          apForm.controls.APR.touched ||
                          apibtn)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="apForm.controls.APR.errors.required">
                        Interest Rate is required
                      </div>
                      <div *ngIf="apForm.controls.APR.errors.pattern">
                        This is not Vaild number
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 float-label">
                    <label>APR</label>
                    <input
                      class="form-control form-application"
                      id="RealAPR"
                      formControlName="RealAPR"
                      readonly
                      (input)="findPaymentAmountWithOrigination()"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-2 float-label">
                    <label>Duration (Months)</label>
                    <select
                      class="form-control form-application"
                      id="duration"
                      formControlName="Duration"
                      [ngClass]="{
                        'is-invalid':
                          apForm.controls.Duration.errors &&
                          (apForm.controls.Duration.dirty ||
                            apForm.controls.Duration.touched ||
                            apibtn)
                      }"
                      (change)="findPaymentAmountWithOrigination()"
                    >
                      <option
                        *ngFor="let month of durationMonths"
                        [value]="month"
                        >{{ month }}</option
                      >
                    </select>
                    <div
                      *ngIf="
                        apForm.controls.Duration.errors &&
                        (apForm.controls.Duration.dirty ||
                          apForm.controls.Duration.touched ||
                          apibtn)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="apForm.controls.Duration.errors.required">
                        Duration is required
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 float-label">
                    <label>Origination Fee</label>
                    <input
                      class="form-control form-application"
                      id="OriginationFee"
                      formControlName="OriginationFee"
                      [ngClass]="{
                        'is-invalid':
                          apForm.controls.OriginationFee.errors &&
                          (apForm.controls.OriginationFee.dirty ||
                            apForm.controls.OriginationFee.touched ||
                            apibtn)
                      }"
                      (input)="findPaymentAmountWithOrigination()"
                    />
                    <div
                      *ngIf="
                        apForm.controls.OriginationFee.errors &&
                        (apForm.controls.OriginationFee.dirty ||
                          apForm.controls.OriginationFee.touched ||
                          apibtn)
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="apForm.controls.OriginationFee.errors.pattern"
                      >
                        This is not Vaild number
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-2 float-label">
                    <label>Payment Amount</label>
                    <input
                      class="form-control form-application"
                      id="paymentAmount"
                      formControlName="PaymentAmount"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-4" style="padding-top: 20px;">
                    <button
                      data-toggle="pill"
                      class="btn btn-primary mr-2 mt-1"
                      type="submit"
                      style="margin-right: 20px;"
                    >
                      Save
                    </button>
                    <div *ngIf="stage == 'waiting'">
                      <button
                        data-toggle="pill"
                        class="btn btn-primary mr-2 mt-1"
                        id="invite"
                        (click)="inviteUser()"
                        type="button"
                      >
                        Invite
                      </button>
                      <button
                        data-toggle="pill"
                        class="btn btn-primary mr-2 mt-1"
                        id="inviteEmailTest"
                        (click)="inviteTest()"
                        type="button"
                      >
                        Send Test Email
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <br /><br />
            <div class="list">
              <ul class="h700">
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">User Reference</div>
                    <div>
                      <a
                        routerLink="/admin/users/{{
                          data.from_details[0]['user_id']
                        }}"
                      >
                        USR_{{ data.from_details[0]["user_ref"] }}
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Name</div>
                    <div *ngIf="!editName">
                      {{ data.from_details[0]["firstName"] }}
                      {{ data.from_details[0]["lastName"] }}
                      <span
                        (click)="editName = true"
                        class="text-danger cursorpointer"
                      >
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </span>
                    </div>
                    <form
                      *ngIf="editName"
                      (ngSubmit)="f.form.valid && editUserName()"
                      #f="ngForm"
                      novalidate
                    >
                      <div>
                        <input
                          type="text"
                          name="firstName"
                          [(ngModel)]="editNameFields['firstName']"
                          class="form-control"
                          placeholder="first name"
                          required
                          #firstName="ngModel"
                          [class.is-invalid]="f.submitted && firstName.invalid"
                        />
                        <input
                          type="text"
                          name="lastName"
                          [(ngModel)]="editNameFields['lastName']"
                          class="form-control"
                          placeholder="last name"
                          required
                          #lastName="ngModel"
                          [class.is-invalid]="f.submitted && lastName.invalid"
                        />
                        <input type="submit" name="submit" class="upperCase" />
                        <input
                          type="button"
                          name="cancel"
                          value="cancel"
                          class="upperCase"
                          (click)="editName = false"
                        />
                      </div>
                    </form>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Email Address</div>
                    <div>
                      {{ data.from_details[0]["email"] }}
                      <i
                        class="fa fa-bell text-danger cursorpointer"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Phone Number</div>
                    <div>
                      {{ data.from_details[0]["phone"] }}
                      <i
                        class="fa fa-bell text-danger cursorpointer"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Date of Birth</div>
                    <div>{{ data.from_details[0]["birthday"] }}</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Latitude</div>
                    <div>--</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Longitude</div>
                    <div>--</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Address</div>
                    <div class="textAlignRight">
                      <div>
                        {{ data.from_details[0]["streetAddress"] }},
                        <i
                          class="fa fa-edit text-danger cursorpointer"
                          aria-hidden="true"
                          (click)="editStreetAddress = true"
                        ></i>
                      </div>
                      <div>
                        {{ data.from_details[0]["city"] }}
                        <i
                          class="fa fa-edit text-danger cursorpointer"
                          aria-hidden="true"
                          (click)="editCity = true"
                        ></i>
                      </div>
                      <div>
                        {{ data.from_details[0]["zipCode"] }}
                        <i
                          class="fa fa-edit text-danger cursorpointer"
                          aria-hidden="true"
                          (click)="editZipCode = true"
                        ></i>
                      </div>
                    </div>
                    <form
                      *ngIf="editStreetAddress"
                      (ngSubmit)="f.form.valid && editUserStreetAddress()"
                      #f="ngForm"
                      novalidate
                    >
                      <div>
                        <input
                          type="text"
                          name="streetAddress"
                          [(ngModel)]="editStreetFields['streetAddress']"
                          class="form-control"
                          placeholder="Street Address"
                          required
                          #streetAddress="ngModel"
                          [class.is-invalid]="
                            f.submitted && streetAddress.invalid
                          "
                        />
                        <input type="submit" name="submit" class="upperCase" />
                        <input
                          type="button"
                          name="cancel"
                          value="cancel"
                          class="upperCase"
                          (click)="editStreetAddress = false"
                        />
                      </div>
                    </form>
                    <form
                      *ngIf="editCity"
                      (ngSubmit)="f.form.valid && editUserCity()"
                      #f="ngForm"
                      novalidate
                    >
                      <div>
                        <input
                          type="text"
                          name="city"
                          [(ngModel)]="editCityFields['city']"
                          class="form-control"
                          placeholder="City"
                          required
                          #city="ngModel"
                          [class.is-invalid]="f.submitted && city.invalid"
                        />
                        <input type="submit" name="submit" class="upperCase" />
                        <input
                          type="button"
                          name="cancel"
                          value="cancel"
                          class="upperCase"
                          (click)="editCity = false"
                        />
                      </div>
                    </form>
                    <form
                      *ngIf="editZipCode"
                      (ngSubmit)="f.form.valid && editUserZipCode()"
                      #f="ngForm"
                      novalidate
                    >
                      <div>
                        <input
                          type="text"
                          name="zipCode"
                          [(ngModel)]="editZipCodeFields['zipCode']"
                          class="form-control"
                          placeholder="ZipCode"
                          required
                          #zipCode="ngModel"
                          [class.is-invalid]="f.submitted && zipCode.invalid"
                        />
                        <input type="submit" name="submit" class="upperCase" />
                        <input
                          type="button"
                          name="cancel"
                          value="cancel"
                          class="upperCase"
                          (click)="editZipCode = false"
                        />
                      </div>
                    </form>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">State</div>
                    <div>{{ data.from_details[0]["state"] }}</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Financing Exist</div>
                    <div>
                      Yes
                      <i
                        class="fa fa-bell text-success cursorpointer"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Bank Added</div>
                    <div>
                      <i
                        class="fa fa-bell text-success cursorpointer"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Registered Date</div>
                    <div>{{ data.from_details[0]["createdAt"] }}</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Last Profile Update Date</div>
                    <div>{{ data.from_details[0]["updatedAt"] }}</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Annual Income</div>
                    <div *ngIf="data.from_details[0]['annualIncome']">
                      {{
                        data.from_details[0]["annualIncome"]
                          | currency: "USD":"symbol"
                      }}
                    </div>
                    <div *ngIf="!data.from_details[0]['annualIncome']">
                      {{
                        data.from_details[0]["netMonthlyIncome"] * 12
                          | currency: "USD":"symbol"
                      }}
                    </div>
                  </div>
                </li>

                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Monthly Income</div>
                    <div>
                      {{
                        data.from_details[0]["netMonthlyIncome"]
                          | currency: "USD":"symbol"
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Anticipated Financed Amount</div>
                    <div>
                      {{
                        data.from_details[0]["loanAmount"]
                          | currency: "USD":"symbol"
                      }}
                    </div>
                  </div>
                </li>
                <li class="displayNone">
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">PreDTI Debt</div>
                    <div>--</div>
                  </div>
                </li>
                <li class="displayNone">
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Funding Tier</div>
                    <div>--</div>
                  </div>
                </li>

                <li class="displayNone">
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">PreDTI Debt(%)</div>
                    <div>--</div>
                  </div>
                </li>
                <li class="displayNone">
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">PreDTI Debt(%)</div>
                    <div>--</div>
                  </div>
                </li>
                <li class="displayNone">
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Payroll Detected Income</div>
                    <div>$0.00</div>
                  </div>
                </li>
                <li class="displayNone">
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Housing Expense</div>
                    <div>$0.00</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Income Type</div>
                    <div>Modified by admin</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Underwriting Rules</div>
                    <div>--</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Application Reference Number</div>
                    <div>APP_{{ data.from_details[0]["ref_no"] }}</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Financing Status</div>
                    <div class="text-success">Pending</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Denied Reason</div>
                    <div class="text-success">--</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Counter offered</div>
                    <div class="text-success">--</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Application Created By</div>
                    <div class="text-success">User</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Plaid Re-sent By</div>
                    <div class="text-success">--</div>
                  </div>
                </li>
                <li>
                  <div class="displayFlex listdetails">
                    <div class="fontWeight">Offer Link Send By</div>
                    <div class="text-success">--</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </tab>

        <tab
          heading="Credit Info"
          *ngIf="data.from_details.length > 0 && tabs['Credit Report']"
        >
          <div class="p10px">
            <div class="frameshadow mb20px">
              <div>
                <div class="mainTitle">
                  Credit Report
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="creditReportPull()"
                  >
                    Pull Credit
                  </button>
                </div>
              </div>
              <div class="p10px">
                <div *ngIf="creditReportData">
                  <embed
                    id="embed"
                    [src]="safeResourceUrl(creditReportData.file)"
                    type="application/pdf"
                    width="100%"
                    style="height: 800px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </tab>

        <tab
          heading="Payment Schedule"
          *ngIf="data.from_details.length > 0 && tabs['Payment Schedule']"
        >
          <div class="p10px">
            <accordion>
              <accordion-group
                heading="Change Payment Schedules"
                (isOpenChange)="paymentAccordinChange($event)"
              >
                <div class="payment">
                  <div class="row">
                    <div class="col-md-6">
                      <select
                        class="form-control"
                        name="paymentfrequency"
                        [formControl]="paymentfrequency"
                        (change)="payamentSchedules.changePaymentfrequency()"
                      >
                        <option
                          [disabled]="
                            !payamentSchedules.calendarOptions.selectable
                          "
                          value="B"
                          >Bi-Weekly</option
                        >
                        <option
                          [disabled]="
                            !payamentSchedules.calendarOptions.selectable
                          "
                          value="M"
                          >Monthly</option
                        >
                        <option
                          [disabled]="
                            !payamentSchedules.calendarOptions.selectable
                          "
                          value="S"
                          >Semi-Monthly</option
                        >
                        <option
                          [disabled]="
                            !payamentSchedules.calendarOptions.selectable
                          "
                          value="W"
                          >Weekly</option
                        >
                      </select>
                    </div>
                    <div class="col-md-6">
                      <button
                        type="button"
                        [disabled]="
                          !payamentSchedules.calendarOptions.selectable
                        "
                        (click)="saveReschedules()"
                        class="btn btn-info"
                      >
                        Save
                      </button>
                    </div>
                  </div>

                  <full-calendar
                    #calendar
                    id="calendar"
                    [options]="payamentSchedules.calendarOptions"
                  ></full-calendar>
                </div>
              </accordion-group>
              <accordion-group heading="Payment Details">
                <div class="displayFlex">
                  <div class="frameshadow w35per mr30px">
                    <div>
                      <div class="mainTitle">Payment</div>
                      <div class="list2">
                        <ul>
                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Financing Start Date</div>
                              <div>{{ payment[0].createdAt }}</div>
                            </div>
                          </li>
                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Financing Amount</div>
                              <div>
                                {{ payment[0].loan_advance | currency }}
                              </div>
                            </div>
                          </li>

                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Payoff Amount</div>
                              <div>
                                {{ payment[0].payOffAmount | currency }}
                              </div>
                            </div>
                          </li>

                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Interest Rate</div>
                              <div>{{ payment[0].apr }}%</div>
                            </div>
                          </li>

                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Financing Term</div>
                              <div>12</div>
                            </div>
                          </li>
                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Financing Status</div>
                              <div>{{ payment[0].loantermcount }}</div>
                            </div>
                          </li>
                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">Maturity Date</div>
                              <div>{{ payment[0].maturityDate }}</div>
                            </div>
                          </li>
                          <li>
                            <div class="displayFlex listdetails">
                              <div class="fontWeight">
                                Next Payment Schedule Date
                              </div>
                              <div>{{ payment[0].nextPaymentSchedule }}</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="frameshadow w65per">
                    <div class="mainTitle">Payment Schedule Information</div>

                    <div>
                      <table class="table">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Unpaid Principal Balance</th>
                            <th>Principal</th>
                            <th>Interest</th>
                            <th>Fees</th>
                            <th>Amount</th>
                            <th>Schedule Date</th>
                            <th>Paid Date</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="data.paymentScheduleDetails.length > 1">
                          <tr
                            *ngFor="
                              let d of data.paymentScheduleDetails;
                              let i = index
                            "
                          >
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{ d.unpaidPrincipal | currency }}
                            </td>
                            <td>
                              {{ d.principal | currency }}
                            </td>
                            <td>{{ d.interest | currency }}</td>
                            <td>{{ d.fees | currency }}</td>
                            <td>{{ d.amount | currency }}</td>
                            <td>
                              {{
                                datePipe.transform(d.scheduleDate, "yyyy/MM/dd")
                              }}
                            </td>
                            <td *ngIf="d.paidAt">
                              {{ datePipe.transform(d.paidAt, "yyyy/MM/dd") }}
                            </td>
                            <td *ngIf="!d.paidAt" class="text-center">
                              -
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </tab>

        <tab heading="Bank Accounts" *ngIf="tabs['Bank Accounts']">
          <app-bank-accounts [loanId]="loanId"></app-bank-accounts>
        </tab>

        <tab
          heading="Document Center"
          *ngIf="data.document && tabs['Document Center']"
        >
          <div class="p10px">
            <div class="frameshadow mb20px">
              <div>
                <div class="mainTitle">Financing Agreement Documents</div>
              </div>
              <div class="p10px">
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 50px">#</th>
                    <th>Documents</th>
                    <th>PDF,JPG,JPEG,PNG</th>
                  </tr>
                  <tbody *ngIf="data.document">
                    <tr *ngFor="let d of data.document; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ d.name }}</td>
                      <td>
                        <a (click)="view(d['filePath'])" href="javascript:void(0)"
                          >View Document</a
                        >
                      </td>
                    </tr>
                    <tr
                      class="text-center"
                      *ngIf="!data.document || data.document.length == 0"
                    >
                      <td colspan="3">No records</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="mb20px">
              <div class="frameshadow">
                <div>
                  <div class="mainTitle">Uploaded Documents</div>
                </div>
                <div class=" ">
                  <div
                    class="displayFlex listdetails AlignItemCenter flexStart"
                  >
                    <div class="fontWeight w200px">Document Type</div>
                    <div>
                      <select
                        name="docutype"
                        [formControl]="formControls.type"
                        class="form-control"
                      >
                        <option value="">Select Document Type</option>
                        <option
                          *ngFor="let doc of documentsTypes"
                          [value]="doc.documentType"
                          >{{ doc.documentType }}</option
                        >
                      </select>
                      <div
                        *ngIf="
                          !formControls.type.valid && formControls.type.errors
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="formControls.type.errors.required">
                          Document Type is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="displayFlex listdetails AlignItemCenter flexStart"
                  >
                    <div class="fontWeight w200px">Document</div>
                    <div>
                      <ngx-file-drag-drop
                        [formControl]="formControls.docFile"
                        activeBorderColor="#3F51B5"
                        accept="image/png, image/jpeg, application/pdf"
                      >
                      </ngx-file-drag-drop>
                      <div
                        *ngIf="
                          !formControls.docFile.valid &&
                          formControls.docFile.errors
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="formControls.docFile.errors.required">
                          File is required.
                        </div>
                        <div *ngIf="formControls.docFile.errors['fileExtension']">
                          Unsupported file format.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p10px">
                    <button
                      type="button"
                      class="btn btn-primary"
                      id="updocs"
                      (click)="uploadDoc()"
                    >
                      Submit
                    </button>
                  </div>

                  <div class="p10px">
                    <table class="table table-bordered">
                      <tr>
                        <th style="width: 50px">#</th>
                        <th>Documents</th>
                        <th>Document Type</th>
                        <th>PDF,JPG,JPEG,PNG</th>
                      </tr>
                      <tbody>
                        <tr *ngFor="let d of data.userDocument; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ d.orginalfileName }}</td>
                          <td>{{ d.type }}</td>
                          <td>
                            <a
                              (click)="view(d.fileName)"
                              href="javascript:void(0)"
                              >View Document</a
                            >
                          </td>
                        </tr>
                        <tr
                          class="text-center"
                          *ngIf="
                            !data.userDocument || data.userDocument.length == 0
                          "
                        >
                          <td colspan="4">No records</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>

        <tab
          heading="Comments"
          *ngIf="data.from_details.length > 0 && tabs['Comments']"
        >
          <div class="p10px">
            <div class="mb20px">
              <div class="frameshadow">
                <div>
                  <div class="mainTitle">Comments Section</div>
                </div>
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && addcomments(messagebox)"
                  #f="ngForm"
                  novalidate
                >
                  <div class=" ">
                    <div
                      class="displayFlex listdetails AlignItemCenter flexStart"
                    >
                      <div class="fontWeight w200px">Subject</div>
                      <div class="w100per">
                        <input
                          type="text"
                          name="subject"
                          [(ngModel)]="cm['subject']"
                          #subject="ngModel"
                          required
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': f.submitted && subject.invalid
                          }"
                        />
                      </div>
                    </div>
                    <div
                      class="displayFlex listdetails AlignItemCenter flexStart"
                    >
                      <div class="fontWeight w200px">Comments</div>
                      <div class="w100per">
                        <textarea
                          class="form-control"
                          name="comments"
                          [(ngModel)]="cm['comments']"
                          #comments="ngModel"
                          required
                          [ngClass]="{
                            'is-invalid': f.submitted && subject.invalid
                          }"
                        ></textarea>
                      </div>
                    </div>
                    <div class="p10px">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        id="updocs2"
                        value="Validate"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="frameshadow">
              <div>
                <div class="mainTitle">Comments Details</div>
              </div>
              <div class="p10px">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Subject</th>
                      <th>Comments</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of resComments; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ c.subject }}</td>
                      <td>{{ c.comments }}</td>
                      <td>{{ c.role }}:{{ c.firstName }} {{ c.lastName }}</td>
                      <td>{{ c.createdAt }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Log" *ngIf="data.from_details.length > 0 && tabs['Log']">
          <div class="p10px">
            <div class="mb20px">
              <div class="frameshadow">
                <div>
                  <div class="mainTitle">Log Activity Details</div>
                </div>

                <div class="p10px">
                  <table id="achlogactivity_table" class="table dataTable">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Log Reference</th>
                        <th>Module Name</th>
                        <th>User</th>
                        <th>Created Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of screenlogs; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ d.id }}</td>
                        <td>{{ d.module }}</td>
                        <td>
                          {{ d.user }}
                        </td>
                        <td>{{ d.createdat }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<ng-template #messagebox>
  <div class="modal-body text-center">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="headtext">Message</p>
    <p *ngFor="let m of message">{{ m }}</p>
  </div>
</ng-template>
