
// forgotpassword start

.forgotpassword .body {
    background: #000 !important;
  }
  .forgotpassword .bg {
    /*background: url(./assets/loginBg.jpg) no-repeat center !important;*/
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    background-size: 100% 100%;
  }
  .forgotpassword .loginSection {
    // background: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgotpassword .form-control.is-invalid,
  .forgotpassword .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
  }
  .forgotpassword .form-heading {
    color: #fff;
    font-size: 23px;
  }
  .forgotpassword .panel h2 {
    color: #444444;
    font-size: 18px;
    margin: 0 0 8px 0;
  }
  .forgotpassword .panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
  }
  .forgotpassword .login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }
  .forgotpassword .main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    width: 400px;
    padding: 50px 70px 70px 71px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .forgotpassword .login-form .form-group {
    margin-bottom: 10px;
  }
  .forgotpassword .login-form {
    text-align: center;
  }
  .forgotpassword .forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
  }
  .forgotpassword .login-form .btn.btn-primary {
    background: #c5d93b none repeat scroll 0 0;
    border-color: #c5d93b;
    color: #000;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
  }
  .forgotpassword .forgot {
    text-align: left;
    margin-bottom: 30px;
  }
  .forgotpassword .botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
  }
  .forgotpassword .login-form .btn.btn-primary.reset {
    background: #ff932b none repeat scroll 0 0;
  }
  .forgotpassword .back {
    text-align: left;
    margin-top: 10px;
  }
  .forgotpassword .back a {
    color: #444444;
    font-size: 13px;
    text-decoration: none;
  }
  /*.forgotpassword .button {
    outline: none;
    // background-image: linear-gradient(to top left, rgb(57, 176, 255) 60%, #fff);
    color: #fff;
    background-color: #ff932b;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    border: none;
    // border: 1px solid #000;
  }*/
  