<section class="forgotpassword">
<body class="loginBg">
  <div class=" ">
    <div class="loginSection">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <div>
              <img src="../../../assets/new/troosk_dardk_logo.png" style="margin-bottom: 40px;">
            </div>
            <p>Enter your email address to get reset password link</p>
          </div>
          <form
            id="Login"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="Email Address"
                name="email"
                [(ngModel)]="f1.email"
                #email="ngModel"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              />
            </div>

            <button type="submit" class="btn main_btn w100per">
              Submit
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #messagebox>
    <div class="modal-body text-center">
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="headtext">Message</p>
      <p *ngFor="let m of message">{{ m }}</p>
    </div>
  </ng-template>
</body>
</section>
