<div class="m50px">
  <div class="fs22px pb20 textAlignCenter">User Managment</div>

  <div class="displayFlex flexEnd">
    <button class="greenbutton displayFlex AlignItemCenter mb20px">
      <div class="adduser" style="margin-right: 10px"></div>
      Add User
    </button>
  </div>

  <div class="displayFlex AlignItemCenter mb20px">
    <div class="w20per textAlignCenter">Name</div>
    <div class="w30per textAlignCenter">Email</div>
    <div class="w15per textAlignCenter">Phone</div>
    <div class="w20per textAlignCenter">Role</div>
    <div class="w10per textAlignCenter">Verification</div>
    <div class="w10per textAlignCenter">Edit User</div>
  </div>

  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w30per textAlignCenter">ch.37656@gmal.com</div>
    <div class="w15per textAlignCenter">(234) 738-3456</div>
    <div class="w20per textAlignCenter">Sales Rep</div>
    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userClose"></div>
    </div>

    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userEdit" (click)="go()"></div>
    </div>
  </div>

  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w30per textAlignCenter">ch.37656@gmal.com</div>
    <div class="w15per textAlignCenter">(234) 738-3456</div>
    <div class="w20per textAlignCenter">Sales Rep</div>
    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userClose"></div>
    </div>

    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userEdit" (click)="go()"></div>
    </div>
  </div>

  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w30per textAlignCenter">ch.37656@gmal.com</div>
    <div class="w15per textAlignCenter">(234) 738-3456</div>
    <div class="w20per textAlignCenter">Sales Rep</div>
    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="usertick"></div>
    </div>

    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userEdit"></div>
    </div>
  </div>
  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w30per textAlignCenter">ch.37656@gmal.com</div>
    <div class="w15per textAlignCenter">(234) 738-3456</div>
    <div class="w20per textAlignCenter">Sales Rep</div>
    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userClose"></div>
    </div>

    <div
      class="w10per textAlignCenter displayFlex AlignItemCenter justifycontencenter"
    >
      <div class="userEdit" (click)="go()"></div>
    </div>
  </div>
</div>
