<div class="m50px">
  <div class="fs22px pb20 textAlignCenter">Applicantion Details</div>

  <div class="displayFlex AlignItemCenter spaceBetween mb50px stretch">
    <div class="grayBox w48per">
      <div
        class="AlignItemCenter displayFlex justifycontencenter greenColor pb20"
      >
        Customer
      </div>

      <div class="plr50">
        <div>
          <div class="displayFlex ptb20 AlignItemCenter pt0">
            <div class="iconBlock">
              <div class="overview_profile_icon"></div>
            </div>
            <div>Arun</div>
          </div>
          <div class="displayFlex ptb20 AlignItemCenter">
            <div class="iconBlock">
              <div class="overview_contact_icon"></div>
            </div>
            <div>1787153253</div>
          </div>
          <div class="displayFlex ptb20 AlignItemCenter">
            <div class="iconBlock">
              <div class="overview_mail_icon"></div>
            </div>
            <div>sundar.ajay147@gmail.com</div>
          </div>

          <div class="displayFlex ptb20 AlignItemCenter pb0">
            <div class="iconBlock">
              <div class="overview_home_icon"></div>
            </div>
            <div>21st stret, Tamil Nadu, 625107</div>
          </div>
        </div>
        <div
          class="AlignItemCenter displayFlex justifycontencenter greenColor ptopBottom"
        >
          Application Info
        </div>

        <div class="AlignItemCenter displayFlex">
          <div class="w200px fontWeight">Application ID:</div>
          <div>20-01-014569</div>
        </div>
        <div class="AlignItemCenter displayFlex ptb20">
          <div class="w200px fontWeight">Application Status:</div>
          <div>Approved</div>
        </div>
      </div>
    </div>
    <div class="grayBox w48per" style="margin-right: 0">
      <div
        class="AlignItemCenter displayFlex justifycontencenter greenColor pb20"
      >
        Loan Info
      </div>

      <div class="plr50">
        <div>
          <div class="AlignItemCenter displayFlex">
            <div class="w200px fontWeight">Product Type:</div>
            <div>Solar</div>
          </div>
          <div class="AlignItemCenter displayFlex ptb20">
            <div class="w200px fontWeight">System Price:</div>
            <div>$30,367.48</div>
          </div>
          <div class="AlignItemCenter displayFlex">
            <div class="w200px fontWeight">Loan Selected:</div>
            <div>20 year</div>
          </div>
          <div class="AlignItemCenter displayFlex ptb20">
            <div class="w200px fontWeight"></div>
            <div>1.99% (Autopay)</div>
          </div>
          <div class="AlignItemCenter displayFlex ptb20">
            <div class="w200px fontWeight"></div>
            <div>2.49% (without Autopay)</div>
          </div>
        </div>
        <div
          class="AlignItemCenter displayFlex justifycontencenter greenColor ptopBottom"
        >
          Payment Info
        </div>

        <div class="AlignItemCenter displayFlex">
          <div class="w200px fontWeight">Autopay:</div>
          <div>Solar</div>
        </div>
        <div class="AlignItemCenter displayFlex ptb20">
          <div class="w200px fontWeight">Initial Payment Amount:</div>
          <div>$115.44</div>
        </div>
        <div class="AlignItemCenter displayFlex ptb20">
          <div class="w200px fontWeight">First Payment Amount:</div>
          <div>08/15/2021</div>
        </div>
        <div class="AlignItemCenter displayFlex ptb20">
          <div class="w200px fontWeight">Total of Loan Payments:</div>
          <div>$37,002.76</div>
        </div>
      </div>
    </div>
  </div>

  <div class="displayFlex justifycontencenter flexDirection">
    <div class="progressBarcontainer justifycontencenter">
      <div class="displayFlex AlignItemCenter justifycontencenter">
        <div class="displayFlex AlignItemCenter">
          <div class="progressBarcircle">1</div>
          <div
            style="margin-top: 119px; margin-left: -20px"
            class="fs20px fontWeight textAlignCenter steptext"
          >
            Application <br />
            File Upload
          </div>
        </div>
        <div class="displayFlex AlignItemCenter">
          <div class="grayLine"></div>
          <div class="displayFlex">
            <div class="progressBarcircle">2</div>
            <div
              style="margin-left: -50px"
              class="fs20px fontWeight textAlignCenter steptext"
            >
              Verify and Approve <br />
              Application
            </div>
          </div>
        </div>
        <div class="displayFlex AlignItemCenter">
          <div class="grayLine"></div>
          <div class="displayFlex">
            <div class="progressBarcircle">3</div>
            <div
              style="margin-left: -50px"
              class="fs20px fontWeight textAlignCenter steptext"
            >
              Approve <br />
              Milestone Funding
            </div>
          </div>
        </div>
        <div class="displayFlex AlignItemCenter">
          <div class="grayLine"></div>

          <div class="displayFlex">
            <div class="progressBarcircle">
              <div class="steptick"></div>
            </div>
            <div
              style="margin-left: -20px"
              class="fs20px fontWeight textAlignCenter steptext"
            >
              Project <br />
              Completed
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grayBox mb20px">
      <div class="fs20px fontWeight pb20">
        Please upload your proof of ownership
      </div>
      <div class="textAlignCenter pb20">
        (the Land Use Right Certificate, Real Property Certificate, Other Right
        Certificate and other any agreement or document relating to the
        Buildings or the land under the Buildings)
      </div>
      <div class="dragdropBlock AlignItemCenter">
        <div class="displayFlex AlignItemCenter flexDirection">
          <div class="dropfolder"></div>
          <div class="pt30px">Drag and Drop your files here</div>
        </div>
      </div>

      <div class="fs22px pb20">Uploaded documents</div>
      <div class="whiteBox displayFlex AlignItemCenter mb20px">
        <div class="displayFlex AlignItemCenter w50per">
          <div class="greenfolder"></div>
          <div>Doc_Hunter_Hairway_proof_of_income1</div>
        </div>

        <div class="w15per">
          <button class="fileextension">Pdf</button>
        </div>
        <div class="w15per">0,7 MB</div>
        <div class="w15per">11.05.2021</div>
        <div class="displayFlex w10per flexEnd">
          <div class="upload_icon"></div>
          <div class="delete_icon"></div>
        </div>
      </div>
      <div class="whiteBox displayFlex AlignItemCenter mb20px">
        <div class="displayFlex AlignItemCenter w50per">
          <div class="greenfolder"></div>
          <div>Doc_Hunter_Hairway_proof_of_income1</div>
        </div>

        <div class="w15per">
          <button class="fileextension">Pdf</button>
        </div>
        <div class="w15per">0,7 MB</div>
        <div class="w15per">11.05.2021</div>
        <div class="displayFlex w10per flexEnd">
          <div class="upload_icon"></div>
          <div class="delete_icon"></div>
        </div>
      </div>
      <div class="whiteBox displayFlex AlignItemCenter mb20px">
        <div class="displayFlex AlignItemCenter w50per">
          <div class="greenfolder"></div>
          <div>Doc_Hunter_Hairway_proof_of_income1</div>
        </div>

        <div class="w15per">
          <button class="fileextension">Pdf</button>
        </div>
        <div class="w15per">0,7 MB</div>
        <div class="w15per">11.05.2021</div>
        <div class="displayFlex w10per flexEnd">
          <div class="upload_icon"></div>
          <div class="delete_icon"></div>
        </div>
      </div>
      <div class="whiteBox displayFlex AlignItemCenter mb20px">
        <div class="displayFlex AlignItemCenter w50per">
          <div class="greenfolder"></div>
          <div>Doc_Hunter_Hairway_proof_of_income1</div>
        </div>

        <div class="w15per">
          <button class="fileextension">Pdf</button>
        </div>
        <div class="w15per">0,7 MB</div>
        <div class="w15per">11.05.2021</div>
        <div class="displayFlex w10per flexEnd">
          <div class="upload_icon"></div>
          <div class="delete_icon"></div>
        </div>
      </div>
    </div>

    <div class="grayBox p50 mb20px">
      <div class="fs20px fontWeight pb20">Verify System Info</div>

      <div class="pb20">
        <label>Manufacturer of Modules </label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="Manufacturer_of_Modules"
          [(ngModel)]="f1.Manufacturer_of_Modules"
        >
          <option value="REC">REC</option>
        </select>
      </div>
      <div class="pb20">
        <label>Manufacturer of Inverters </label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="Manufacturer_of_Inverters"
          [(ngModel)]="f1.Manufacturer_of_Inverters"
        >
          <option value="Enphase">Enphase</option>
        </select>
      </div>
      <div class="pb20">
        <label>Manufacturer of Inverters </label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="Manufacturer_of_Inverters"
          [(ngModel)]="f1.Manufacturer_of_Inverters"
        >
          <option value="Enphase">Enphase</option>
        </select>
      </div>

      <div class="pb20">
        <label>Manufacturer of Battery </label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="Manufacturer_of_Battery"
          [(ngModel)]="f1.Manufacturer_of_Battery"
        >
          <option value="No Battery">No Battery</option>
        </select>
      </div>
      <div class="pb20">
        <label>System Size (kW) </label>
        <input
          type="text"
          name="workStatus"
          class="form-control"
          placeholder="Enter system size"
          [(ngModel)]="f1.workStatus"
          #workStatus="ngModel"
          required
        />
      </div>
      <div class="pb20">
        <label>Estimated Annual Production</label>
        <input
          type="text"
          name="workStatus"
          class="form-control"
          placeholder="Enter system size"
          required
        />
      </div>

      <div class="pb20">
        <input
          class=" "
          name="agree"
          type="checkbox"
          id="flexCheckDefault"
          style="margin-right: 10px"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Please check to confirm System Information is correct
        </label>
      </div>

      <div class="pb20 displayFlex AlignItemCenter spaceBetween">
        <div class="w48per">
          <button type="button" class="closebutton mr30px width100per">
            Enter Digital Signature
          </button>
        </div>
        <div class="w48per">
          <button class="greenbutton width100per upperCase">CONTINUE</button>
        </div>
      </div>
    </div>

    <div class="grayBox p50 mb20px">
      <div class="fs20px fontWeight pb20">1 out of 3 milestones</div>

      <div>
        <div class="displayFlex AlignItemCenter mb20px">
          <div class="fs30px greenColor pr20">20%</div>
          <div class="fs16px">Funding Complete</div>
        </div>
        <div class="stepProgressBarBlock mb20px">
          <div class="stepProgressBar">
            <div class="stepProgressBarIndicator" style="width: 20%"></div>
          </div>
          <div></div>
        </div>

        <div class="fs20px fontWeight pb20">
          Please upload the proof of initial funding to get the project started
        </div>
        <div class="dragdropBlock AlignItemCenter">
          <div class="displayFlex AlignItemCenter flexDirection">
            <div class="dropfolder"></div>
            <div class="pt30px">Drag and Drop your files here</div>
          </div>
        </div>

        <div class="fs20px fontWeight pb20">Request 20% of funding</div>

        <div class="w48per pb20">
          <input
            type="text"
            name="income"
            class="form-control"
            placeholder="Enter the amount"
          />
        </div>
        <div class="pb20 displayFlex AlignItemCenter spaceBetween">
          <div class="w48per">
            <button type="button" class="closebutton mr30px width100per">
              Enter Digital Signature
            </button>
          </div>
          <div class="w48per">
            <button class="greenbutton width100per upperCase">REQUEST</button>
          </div>
        </div>
      </div>
    </div>

    <div class="grayBox p50 mb20px">
      <div class="fs20px fontWeight pb20">2 out of 3 milestones</div>

      <div>
        <div class="displayFlex AlignItemCenter mb20px">
          <div class="fs30px greenColor pr20">40%</div>
          <div class="fs16px">Install Complete</div>
        </div>
        <div class="stepProgressBarBlock mb20px">
          <div class="stepProgressBar">
            <div class="stepProgressBarIndicator" style="width: 40%"></div>
          </div>
          <div></div>
        </div>

        <div class="pb20">
          Fully installed is defined as:
          <ul>
            <li>All permits and HQA approvals have been granted</li>
            <li>
              Installation of the project, including panels, inverters, and all
              electrical items is fully complete
            </li>
            <li>Fully installed is defined as:</li>
          </ul>
        </div>

        <div class="fs20px fontWeight pb20">
          Date project was fully installed/completed
        </div>

        <div class="w48per pb20">
          <input
            type="date"
            name="income"
            class="form-control"
            placeholder="Enter the amount"
          />
        </div>
        <div class="fs20px fontWeight pb20">Verify Installation address</div>

        <div class="pb20">
          <input
            class=" "
            name="agree"
            type="checkbox"
            id="flexCheckDefault"
            style="margin-right: 10px"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Please check to confirm System Information is correct
          </label>
        </div>
        <div class="fs20px fontWeight pb20">
          Please upload the proof of initial funding to get the project started
        </div>
        <div class="dragdropBlock AlignItemCenter">
          <div class="displayFlex AlignItemCenter flexDirection">
            <div class="dropfolder"></div>
            <div class="pt30px">Drag and Drop your files here</div>
          </div>
        </div>

        <div class="fs20px fontWeight pb20">Request 20% of funding</div>

        <div class="w48per pb20">
          <input
            type="text"
            name="income"
            class="form-control"
            placeholder="Enter the amount"
          />
        </div>
        <div class="pb20 displayFlex AlignItemCenter spaceBetween">
          <div class="w48per">
            <button type="button" class="closebutton mr30px width100per">
              Enter Digital Signature
            </button>
          </div>
          <div class="w48per">
            <button class="greenbutton width100per upperCase">REQUEST</button>
          </div>
        </div>
      </div>
    </div>

    <div class="grayBox p50 mb20px">
      <div class="fs20px fontWeight pb20">3 out of 3 milestones</div>

      <div>
        <div class="displayFlex AlignItemCenter mb20px">
          <div class="fs30px greenColor pr20">60%</div>
          <div class="fs16px">Project Complete</div>
        </div>
        <div class="stepProgressBarBlock mb20px">
          <div class="stepProgressBar">
            <div class="stepProgressBarIndicator" style="width: 60%"></div>
          </div>
          <div></div>
        </div>

        <div class="fs20px fontWeight pb20">Upload evidence of PTO</div>
        <div class="dragdropBlock AlignItemCenter">
          <div class="displayFlex AlignItemCenter flexDirection">
            <div class="dropfolder"></div>
            <div class="pt30px">Drag and Drop your files here</div>
          </div>
        </div>

        <div class="fs20px fontWeight pb20">Request 60% of funding</div>

        <div class="w48per pb20">
          <input
            type="text"
            name="income"
            class="form-control"
            placeholder="Enter the amount"
          />
        </div>
        <div class="pb20 displayFlex AlignItemCenter spaceBetween">
          <div class="w48per">
            <button type="button" class="closebutton mr30px width100per">
              Enter Digital Signature
            </button>
          </div>
          <div class="w48per">
            <button class="greenbutton width100per upperCase">REQUEST</button>
          </div>
        </div>
      </div>
    </div>

    <div class="stepthree">
      <div class="mb50px">
        <div class="grayBox displayFlex AlignItemCenter mb20px">
          <div class="displayFlex AlignItemCenter w50per">
            <div class=" ">
              <label class="optionButton"
                >System info Verified
                <input type="checkbox" checked="checked" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div></div>
          </div>

          <div class="w15per"></div>
          <div class="w15per"></div>
          <div class="w15per">11.05.2021</div>
          <div class="displayFlex w10per flexEnd"></div>
        </div>
        <div class="grayBox displayFlex AlignItemCenter mb20px">
          <div class="displayFlex AlignItemCenter w50per">
            <div class="greenfolder"></div>
            <div>Doc_Hunter_Hairway_proof_of_income1</div>
          </div>

          <div class="w15per">
            <button class="fileextension whiteBg">Pdf</button>
          </div>
          <div class="w15per">0,7 MB</div>
          <div class="w15per">11.05.2021</div>
          <div class="displayFlex w10per flexEnd">
            <div class="upload_icon"></div>
            <div class="delete_icon"></div>
          </div>
        </div>
        <div class="grayBox displayFlex AlignItemCenter mb20px">
          <div class="displayFlex AlignItemCenter w50per">
            <div class="greenfolder"></div>
            <div>Doc_Hunter_Hairway_proof_of_income1</div>
          </div>

          <div class="w15per">
            <button class="fileextension whiteBg">Pdf</button>
          </div>
          <div class="w15per">0,7 MB</div>
          <div class="w15per">11.05.2021</div>
          <div class="displayFlex w10per flexEnd">
            <div class="upload_icon"></div>
            <div class="delete_icon"></div>
          </div>
        </div>
      </div>
      <div class="grayBox p20 mb20px w50per m0auto">
        <div
          class="displayFlex AlignItemCenter justifycontencenter flexDirection"
        >
          <div class="tickmark"></div>
          <div class="textAlignCenter pb20">
            System Info is verified <br />Documents are uploaded
          </div>
          <div class="fs20px textAlignCenter">
            Please, approve the application
          </div>
          <div class="pb20">
            <input
              class=" "
              name="agree"
              type="checkbox"
              id="flexCheckDefault"
              style="margin-right: 10px"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Please check to confirm System Information is correct
            </label>
          </div>

          <div class="pb20 displayFlex AlignItemCenter spaceBetween">
            <div class="w48per">
              <button type="button" class="closebutton mr30px width100per">
                Close
              </button>
            </div>
            <div class="w48per">
              <button class="greenbutton width100per upperCase">APPROVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="part2 p-3 mt-3" *ngFor="let file of fileitems">
    <div class="row align-items-center">
        <div class="col-1">
            <i-bs name="file-earmark-fill" width="25px" height="25px" class="text-sales">
            </i-bs>
        </div>
        <div class="col-5">
            {{file.name.split('.')[0]}}
        </div>
        <div class="col-1">
            <span class="bg-white p-1 rounded text-sales">{{file.name.split('.')[1] | uppercase }}</span>
        </div>
        <div class="col-1">
            {{(file.size / 1024).toFixed(2)}} KB
        </div>
        <div class="col-2">
            {{today}}
        </div>
       
    </div>
</div> -->
