select{
    width: 100%;
    padding: 10px;
    border: #000;
    margin-bottom: 10px;
}

.part1{
    width: 90%!important;
    margin: auto;
}
.box{
   
    padding: 50px;
    box-sizing: border-box!important;
}

.container1{
    width: 95%!important;
    margin: auto;
}