<section class="content-header">
    <ol class="breadcrumb">
      <li class="current">
        <a [routerLink]="['/admin/dashboard']"><img src="../../assets/new/dashboard.svg"> Dashboard <i class="fal fa-angle-right"></i></a>
      </li>
      <li class="active">Denied Application Details</li>
    </ol>
    <h1>Denied Application Details</h1>
  </section>

  <div class="content_part">


    <div class="p10">
      <table *ngIf="data.length > 0" datatable class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loan ID</th>
            <th scope="col">Date</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">lastName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <a routerLink="/admin/denied/{{ d.loan_id }}"
                >{{ d.loan_id }}</a
              >
            </td>
            <td>
              {{ d.createdAt }}
            </td>
            <td>{{ d.email }}</td>
            <td>{{ d.firstname }}</td>
            <td>{{ d.lastname }}</td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="data.length == 0" datatable class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loan ID</th>
            <th scope="col">Date</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">lastName</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
