<div class="m50px">
  <div class="fs22px pb20 textAlignCenter">
    Welcome! What would you like to do?
  </div>

  <div class="displayFlex AlignItemCenter spaceBetween mb50px">
    <div class="grayButton">
      <div
        class="displayFlex justifycontencenter AlignItemCenter flexDirection ptopBottom"
      >
        <div class="fileUpload"></div>
        <div class="displayFlex">
          <div class="fs16px fontWeight prb">Application File <br />Upload</div>
          <div class="redCircle">5</div>
        </div>
        <div class="grayColor3">
          Upload the necessary documents<br />
          to proceed
        </div>
      </div>
    </div>
    <div class="grayButton">
      <div
        class="displayFlex justifycontencenter AlignItemCenter flexDirection ptopBottom"
      >
        <div class="applicationDetails"></div>
        <div class="displayFlex">
          <div class="fs16px fontWeight prb">
            Verify and Approve<br />
            Application Details
          </div>
          <div class="redCircle">11</div>
        </div>
        <div class="grayColor3">
          Please check the application details to verify all information is
          correct
        </div>
      </div>
    </div>
    <div class="grayButton" style="margin-right: 0">
      <div
        class="displayFlex justifycontencenter AlignItemCenter flexDirection ptopBottom"
      >
        <div class="dolar"></div>
        <div class="displayFlex">
          <div class="fs16px fontWeight prb">
            Approve Milestone<br />
            Funding
          </div>
          <div class="redCircle">7</div>
        </div>
        <div class="grayColor3">
          Complete this step in the transaction process to receive funding
        </div>
      </div>
    </div>
  </div>

  <div class="fs22px pb20 textAlignCenter">Application File Upload</div>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Application Status</th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Loan Reference Number</th>
          <th scope="col">Application Submited Date</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-installer1">
          <td>
            <button class="btn greenBorder fs14px" (click)="go()">
              UPLOAD DOCS
            </button>
          </td>
          <td>20-01-014573</td>
          <td>Charles Brandon</td>
          <td>29040400</td>
          <td>12/05/2021 06:02 pm</td>
          <td>ch.37656@gmal.com</td>
        </tr>
        <tr class="bg-installer1">
          <td>
            <button class="btn greenBorder fs14px" (click)="go()">
              UPLOAD DOCS
            </button>
          </td>
          <td>20-01-014572</td>
          <td>Matthew Baker</td>
          <td>29458903</td>
          <td>12/05/2021 05:57 pm</td>
          <td>matthew.baker@gmal.com</td>
        </tr>
        <tr class="bg-installer1">
          <td>
            <button class="btn greenBorder fs14px" (click)="go()">
              UPLOAD DOCS
            </button>
          </td>
          <td>20-01-014571</td>
          <td>Johanaton Windsor</td>
          <td>29345690</td>
          <td>12/05/2021 05:53 pm</td>
          <td>john223@gmal.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
