.pm-row{
    position: relative;
    width: 60%;
    height: 300px;
    left: 7%;
    top: 79px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;
    padding: 45px 0px 0px 90px;
}
.pm-title{
    position: relative;
    left: 7%;
    top: 25px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;
}
.col-text{
    color: #C5D93A;
}
.active-text{
    color: #219653;
}
.brw-notes{
    background: rgba(197, 217, 58, 0.15);
    padding: 15px;
    border-radius: 15px;
}
.brw-btn{
    background: #C5D93A;
    color: white;
    border: none;
    border-radius: 5px;    
    padding: 10px;
}