<body>
  <div class="logincomponent">
    <div class="loginSection">
      <div class="login-form" style="text-align: left">
        <div class="main-div">
          <div class="panel">
            <div>
              <img src="../../../assets/logo.png" style="margin-bottom: 40px" />
            </div>
          </div>
          <form [formGroup]="resetpwForm" (ngSubmit)="onSubmit()">
            <label for="newpw">New Password</label><br />
            <input
              type="password"
              id="newpw"
              formControlName="newpw"
              class="form-control"
              [class.is-invalid]="
                f.newpw.invalid && (f.newpw.touched || fSubmitted)
              "
            />
            <small
              *ngIf="
                f.newpw.hasError('required') && (f.newpw.touched || fSubmitted)
              "
              class="text-danger"
            >
              New Password is required
            </small>
            <small
              *ngIf="
                f.newpw.hasError('pattern') && (f.newpw.touched || fSubmitted)
              "
              class="text-danger"
            >
              Password should be at least 8 characters long and should contain
              one uppercase, one lowercase, one number and one special character
            </small>
            <br />
            <label for="cnewpw">Confirm New Password</label><br />
            <input
              type="password"
              id="cnewpw"
              formControlName="cnewpw"
              class="form-control"
              [class.is-invalid]="
                (f.cnewpw.invalid && (f.cnewpw.touched || fSubmitted)) ||
                (fSubmitted && resetpwForm.errors?.misMatch)
              "
            />
            <div *ngIf="f.cnewpw.touched || fSubmitted">
              <small *ngIf="f.cnewpw.errors?.required" class="text-danger"
                >Confirm password is required</small
              >
              <small *ngIf="resetpwForm.errors?.misMatch" class="text-danger"
                >Password not matched</small
              >
            </div>
            <br />
            <button
              type="submit"
              class="greenbutton upperCase"
              style="width: 100%"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #messagebox>
    <div class="modal-body text-center">
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="headtext">Message</p>
      <p *ngFor="let m of message">{{ m }}</p>
    </div>
  </ng-template>
</body>
