<section class="content-header">
  <!-- <h1>Pending Application Details</h1> -->
  <ol class="breadcrumb">
    <li class="current">
      <a [routerLink]="['/admin/dashboard']"
        ><img src="../../assets/new/dashboard.svg"> Dashboard <i class="fal fa-angle-right"></i></a
      >
    </li>
    <li class="active">Admin Security</li>
  </ol>
</section>

<div class="content_part">
  <div class="view_content_part">

  <div class="setting_header">
      <h5>Change password</h5>
  </div>

  <div class="change_password">
    <form [formGroup]="changepwForm" (ngSubmit)="changePassword()">
      <label for="currentpw">Current Password</label><br />
      <input
        type="password"
        id="currentpw"
        formControlName="currentpw"
        class="form-control"
        [class.is-invalid]="
          f.currentpw.invalid && (f.currentpw.touched || fSubmitted)
        "
      />
      <small
        *ngIf="f.currentpw.invalid && (f.currentpw.touched || fSubmitted)"
        class="text-danger"
        >Current Password is required</small
      >
      <br />
      <label for="newpw">New Password</label><br />
      <input
        type="password"
        id="newpw"
        formControlName="newpw"
        class="form-control"
        [class.is-invalid]="f.newpw.invalid && (f.newpw.touched || fSubmitted)"
      />
      <small
        *ngIf="f.newpw.invalid && (f.newpw.touched || fSubmitted)"
        class="text-danger"
        >New Password is required</small
      >
      <br />
      <label for="cnewpw">Confirm New Password</label><br />
      <input
        type="password"
        id="cnewpw"
        formControlName="cnewpw"
        class="form-control"
        [class.is-invalid]="
          f.cnewpw.invalid && (f.cnewpw.touched || fSubmitted)
        "
      />
      <div *ngIf="f.cnewpw.touched || fSubmitted">
        <small *ngIf="f.cnewpw.errors?.required" class="text-danger"
          >Confirm password is required</small
        >
        <small *ngIf="changepwForm.errors?.misMatch" class="text-danger"
          >Password not matched</small
        >
      </div>
      <br />
      <button type="submit" class="btn main_btn">Save</button>
    </form>
  </div>

  <div class="setting_header">
      <h5>Two factor Authentication</h5>
  </div>
  <div class="two_factor">
    <div >Enable Two factor Authentication</div>
      <div class="switch">
        <input type="checkbox" id="twoFactorAuth"
          [checked]="lv_twoFactorAuth=='Y'"
          #twoFactorAuth
          (change)="toggleTwoFactorAuth(twoFactorAuth.checked)" />
        <label for="twoFactorAuth"></label>
      </div>
  </div>
</div>

</div>

<ng-template #messagebox>
  <div class="modal-body text-center">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="headtext">Message</p>
    <p *ngFor="let m of message">{{ m }}</p>
  </div>
</ng-template>
