.mp-row{
    position: relative;
    width: 60%;
    height: 300px;
    left: 7%;
    top: 79px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;
    padding: 45px 0px 0px 90px;
}
.mp-title{
    position: relative;
    left: 7%;
    top: 25px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;
}
.col-text{
    color: #C5D93A;
}
.amnt{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #C5D93A;
}
.brw-btn{
    background: #C5D93A;
    color: white;
    border: none;
    border-radius: 5px;    
    padding: 10px;
}