<section class="borrower_payment_schedule">
<div class="body_content">
  <!-- <div class="fs22px pb20">Payment Schedule</div> -->
  <div class="overview media">
    <img class="mr-3" src="assets/new/financing_details.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Payment Schedule</h5>

  <div class="content_box">
    <div>
      <div class="fs16px fontWeight pb20">Ending balance</div>
      <div class="fs22px greenColor pb20">${{data.paymentScheduleDetails[0].amount}}</div>
    </div>

    <div class="displayFlex spaceBetween pb20">
      <div>Minimum amount</div>
      <div>${{data.paymentScheduleDetails[0].fees}}</div>
    </div>
    <div class="displayFlex spaceBetween pb20">
      <div>Next payment due</div>
      <div>{{datePipe.transform(data.paymentScheduleDetails[0].scheduleDate,"MMMM dd yyyy")}}</div>
    </div>
    <div *ngIf="data.user_details?.autoPayment=='Y'" class="infoBlock mb20px">
      <div class="info_icon"></div>
      <div>
        You have automatic payment set up and this payment will be automatically
        deducated from your bank account due to date.
      </div>
    </div>
  </div>

  <div class="content_box">
    <div class="d-flex justify-content-between">
      <div class="content_box_title">
        <h2>Payment Schedule Information</h2></div>
      <div>
        <a class="show_btn"><i class="fal fa-angle-up"></i></a></div>
    </div>

    <div class="dataTables_wrapper">
    <table class="table">
       <thead>
          <tr>
             <th style="width: 10px">#</th>
            <th>Payment Due Date</th>
            <th>Scheduled Payment</th>
            <th>Principal</th>
            <th>Interest</th>
            <th>Ending Balance</th>
          </tr>
       </thead>
       <tbody *ngIf="data.paymentScheduleDetails.length > 1">
          <tr *ngFor="let d of data.paymentScheduleDetails; let i = index;">
             <td>{{i+1}}</td>
            <td>{{datePipe.transform(d.scheduleDate,"yyyy/MM/dd")}}</td>
            <td>{{d.fees | currency}}</td>
            <td>{{d.principal | currency}}</td>
            <td>{{d.interest | currency}}</td>
            <td>{{d.amount | currency}}</td>
          </tr>
       </tbody>
    </table>
    </div>
  </div>

  <div class="content_box" >
    <div>
      <div class="fs16px fontWeight pb20">Previous Payments</div>
    </div>

    <div *ngFor="let pd of data.payment_details" class="displayFlex spaceBetween pb20">
      <div class="displayFlex">
        <div class="tick_icon"></div>
        <div>{{datePipe.transform(pd.paidAt,"MMMM dd")}}th {{datePipe.transform(pd.paidAt,"yyyy")}}</div>
      </div>
      <div>${{pd.principal}}</div>
    </div>

  </div>

  </div>
  </div>
</div>
</section>
