<div class="w75per">
  <div class="fs22px pb20">Change password</div>
  <div class="grayBox mb50px">
    <form [formGroup]="changepwForm" (ngSubmit)="changePassword()">
      <label for="currentpw">Current Password</label><br />
      <input
        type="password"
        id="currentpw"
        formControlName="currentpw"
        class="form-control"
        [class.is-invalid]="
          f.currentpw.invalid && (f.currentpw.touched || fSubmitted)
        "
      />
      <small
        *ngIf="f.currentpw.invalid && (f.currentpw.touched || fSubmitted)"
        class="text-danger"
        >Current Password is required</small
      >
      <br />
      <label for="newpw">New Password</label><br />
      <input
        type="password"
        id="newpw"
        formControlName="newpw"
        class="form-control"
        [class.is-invalid]="f.newpw.invalid && (f.newpw.touched || fSubmitted)"
      />
      <small
        *ngIf="f.newpw.invalid && (f.newpw.touched || fSubmitted)"
        class="text-danger"
        >New Password is required</small
      >
      <br />
      <label for="cnewpw">Confirm New Password</label><br />
      <input
        type="password"
        id="cnewpw"
        formControlName="cnewpw"
        class="form-control"
        [class.is-invalid]="
          f.cnewpw.invalid && (f.cnewpw.touched || fSubmitted)
        "
      />
      <div *ngIf="f.cnewpw.touched || fSubmitted">
        <small *ngIf="f.cnewpw.errors?.required" class="text-danger"
          >Confirm password is required</small
        >
        <small *ngIf="changepwForm.errors?.misMatch" class="text-danger"
          >Password not matched</small
        >
      </div>
      <br />
      <button type="submit" class="greenbutton upperCase w200px">Save</button>
    </form>
  </div>
</div>

<ng-template #messagebox>
  <div class="modal-body text-center">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="headtext">Message</p>
    <p *ngFor="let m of message">{{ m }}</p>
  </div>
</ng-template>
