<section class="to_do_list">
<div class="m50px">
  <div class="fs22px pb20">To-do list</div>
  <div class="grayBox displayFlex spaceBetween mb50px AlignItemCenter">
    <div>
      <div class="displayFlex AlignItemCenter">
        <input type="checkbox" class="mr30px" />
        <div class=" ">Upload a recent mortgage statement</div>
      </div>
    </div>
    <div>
      <div class="circleArrow"></div>
    </div>
  </div>
  <div class="grayBox displayFlex spaceBetween mb50px AlignItemCenter">
    <div>
      <div class="displayFlex AlignItemCenter">
        <input type="checkbox" class="mr30px" />
        <div class=" ">Upload proof of income</div>
      </div>
    </div>
    <div>
      <div class="circleArrow"></div>
    </div>
  </div>
  <div class="grayBox displayFlex spaceBetween mb50px AlignItemCenter">
    <div>
      <div class="displayFlex AlignItemCenter">
        <input type="checkbox" class="mr30px" />
        <div class=" ">Verify your email address</div>
      </div>
    </div>
    <div>
      <div class="circleArrow"></div>
    </div>
  </div>
  <div class="grayBox displayFlex spaceBetween mb50px AlignItemCenter">
    <div>
      <div class="displayFlex AlignItemCenter">
        <input type="checkbox" class="mr30px" />
        <div class=" ">Sign the loan agreement</div>
      </div>
    </div>
    <div>
      <div class="circleArrow"></div>
    </div>
  </div>
</div>
</section>