<div class="m50px">
  <div class="fs22px pb20 textAlignCenter">Applications of all customers</div>

  <div class="displayFlex AlignItemCenter mb20px">
    <div class="w20per textAlignCenter"></div>
    <div class="w20per textAlignCenter">Application Status</div>
    <div class="w15per textAlignCenter">Id</div>
    <div class="w20per textAlignCenter">Name</div>
    <div class="w20per textAlignCenter">
      Loan Reference<br />
      Number
    </div>
    <div class="w20per textAlignCenter">
      Application<br />
      Submited Date
    </div>
  </div>
  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">
      <button class="viewDetails upperCase">View Details</button>
    </div>
    <div class="w20per textAlignCenter greenColor">LOAN APPROVED</div>
    <div class="w15per textAlignCenter">20-01-014573</div>
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w20per textAlignCenter">29040400</div>
    <div class="w20per textAlignCenter">12/05/2021 06:02 pm</div>
  </div>
  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">
      <button class="viewDetails upperCase">View Details</button>
    </div>
    <div class="w20per textAlignCenter greenColor">LOAN APPROVED</div>
    <div class="w15per textAlignCenter">20-01-014573</div>
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w20per textAlignCenter">29040400</div>
    <div class="w20per textAlignCenter">12/05/2021 06:02 pm</div>
  </div>
  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">
      <button class="viewDetails upperCase">View Details</button>
    </div>
    <div class="w20per textAlignCenter greenColor">LOAN APPROVED</div>
    <div class="w15per textAlignCenter">20-01-014573</div>
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w20per textAlignCenter">29040400</div>
    <div class="w20per textAlignCenter">12/05/2021 06:02 pm</div>
  </div>
  <div class="displayFlex AlignItemCenter grayBox ptb20px mb20px">
    <div class="w20per textAlignCenter">
      <button class="viewDetails upperCase">View Details</button>
    </div>
    <div class="w20per textAlignCenter greenColor">LOAN APPROVED</div>
    <div class="w15per textAlignCenter">20-01-014573</div>
    <div class="w20per textAlignCenter">Charles Brandon</div>
    <div class="w20per textAlignCenter">29040400</div>
    <div class="w20per textAlignCenter">12/05/2021 06:02 pm</div>
  </div>
</div>
