<section class="content-header">
    <!-- <h1>Pending Application Details</h1> -->
    <ol class="breadcrumb">
      <li class="current">
        <a [routerLink]="['/admin/dashboard']"
          ><img src="../../assets/new/dashboard.svg"> Dashboard <i class="fal fa-angle-right"></i></a
        >
      </li>
      <li class="active">Audit Log</li>
    </ol>
  </section>

  <div class="content_part">
    <!-- <div class="mainTitle">Audit Log</div> -->

      <table *ngIf="data.length > 0" datatable class="table">
        <thead class="thead-dark">
          <tr>
            <th style="width: 10px">#</th>
                        <th>Log Reference</th>
                        <th>Loan Reference</th>
                        <th>Event</th>
                        <th>User</th>
                        <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data; let i= index;">
                <td>{{i+1}}</td>
                <td>{{d.id}}</td>
                <td>{{d.loan_id}}</td>
                <td>{{d.module}}</td>
                <td>
                 {{d.user}}
                </td>
                <td >{{d.createdat}}</td>
              </tr>
        </tbody>
      </table>
      <table *ngIf="data.length == 0" datatable class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loan ref</th>
            <th scope="col">User ref</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">lastName</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
  </div>
